PROD=false
CLIENT_ID=111fedce236f4d34a607711a7ac4a606
CLIENT_SECRET=fb4d98819b912dfd90d5803bb668ad24
HOST=localhost
PORT=13337
CACHE_MAX_KEYS=64
CACHE_MAX_COST=1000000
JAEGER_ENDPOINT=http://localhost:14268/api/traces
SERVICE_NAME=spoty